<h1>Let's small-talk about the Weather!</h1>
<%= form_tag city_redirect_path do %>
  <%= label_tag :city %>
  <%= text_field_tag :city %>
  <%= label_tag :country %>
  <%= text_field_tag :country %>
  <%= label_tag :Number_of_days %>
  <%= text_field_tag :cnt %>
  <%= submit_tag 'Weather Genie I Command You' %>
<% end %>
